{{- if .Values.deploymentapi.serviceAccount.enabled }}
{{- if .Values.deploymentapi.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rpi-deploymentapi
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: rpi-deploymentapi
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: rpi
    app.kubernetes.io/version: {{ .Values.global.deployment.images.tag | quote }}
  {{- if eq .Values.global.deployment.platform "azure" }}
  {{- if .Values.cloudIdentity.enabled }}
  {{- if eq .Values.cloudIdentity.azureSettings.credentialsType "workloadIdentity" }}
  annotations:
    azure.workload.identity/client-id: {{ .Values.cloudIdentity.azureSettings.managedIdentityClientId }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if eq .Values.global.deployment.platform "google" }}
  {{- if .Values.cloudIdentity.enabled }}
  {{- if eq .Values.cloudIdentity.azureSettings.credentialsType "workloadIdentity" }}
  annotations:
    iam.gke.io/gcp-service-account: {{ .Values.cloudIdentity.googleSettings.serviceAccountEmail | quote }}
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}


---
{{- if .Values.deploymentapi.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: rpi-deploymentapi
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: rpi-deploymentapi
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: rpi
    app.kubernetes.io/version: {{ .Values.global.deployment.images.tag | quote }}
spec:
  ports:
  - name: http
    port: {{ .Values.deploymentapi.service.port }}
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: rpi-deploymentapi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rpi-deploymentapi
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: rpi-deploymentapi
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: rpi
    app.kubernetes.io/version: {{ .Values.global.deployment.images.tag | quote }}
    {{- with .Values.deploymentapi.customLabels }}
    {{- toYaml . | nindent 4 }} 
    {{- end }}
spec:
  replicas: {{ .Values.deploymentapi.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: rpi-deploymentapi
  template:
    metadata:
      labels:
        app.kubernetes.io/name: rpi-deploymentapi
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/part-of: rpi
        app.kubernetes.io/version: {{ .Values.global.deployment.images.tag | quote }}
        {{- with .Values.deploymentapi.customLabels }}
        {{- toYaml . | nindent 8 }} 
        {{- end }}
        {{- if eq .Values.global.deployment.platform "azure" }}
        {{- if eq .Values.cloudIdentity.azureSettings.credentialsType "workloadIdentity" }}
        azure.workload.identity/use: "true"
        {{- end }}
        {{- end }}
      annotations:
        {{- with .Values.deploymentapi.customAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.global.deployment.images.imagePullSecret.enabled }}
      imagePullSecrets:
      - name: {{ .Values.global.deployment.images.imagePullSecret.name }}
      {{- end }}
      serviceAccountName: rpi-deploymentapi
      {{- if .Values.securityContext.enabled }}
      securityContext:
        runAsUser: {{ .Values.securityContext.runAsUser }}
        runAsGroup: {{ .Values.securityContext.runAsGroup }}
        fsGroup: {{ .Values.securityContext.fsGroup }}
        runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
      {{- end }}
      terminationGracePeriodSeconds: 120
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: rpi-deploymentapi
                topologyKey: kubernetes.io/hostname
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: rpi-deploymentapi
      containers:
      - name: rpi-deploymentapi
        image: {{ .Values.global.deployment.images.deploymentapi }}:{{ .Values.global.deployment.images.tag }}
        {{- if .Values.securityContext.enabled }}
        securityContext:
          privileged: {{ .Values.securityContext.privileged }}
          allowPrivilegeEscalation: {{ .Values.securityContext.allowPrivilegeEscalation }}
          readOnlyRootFilesystem: {{ .Values.securityContext.readOnlyRootFilesystem }}
          capabilities:
            drop:
            {{- range .Values.securityContext.capabilities.drop }}
              - {{ . }}
            {{- end }}
        {{- end }}
        imagePullPolicy: {{  .Values.global.deployment.images.imagePullPolicy }}
        env:
        - name: Logging__LogLevel__Default
          value: {{ .Values.deploymentapi.logging.default | quote }}
        - name: ClusterEnvironment__OperationalDatabase__PulseDatabaseName
          value: {{ .Values.databases.operational.pulse_database_name | quote }}
        - name: ClusterEnvironment__OperationalDatabase__LoggingDatabaseName
          value: {{ .Values.databases.operational.pulse_logging_database_name | quote }}
        - name: ClusterEnvironment__OperationalDatabase__ConnectionSettings__Server
          value: {{ .Values.databases.operational.server_host | quote }}
        - name: ClusterEnvironment__OperationalDatabase__ConnectionSettings__IsUsingCredentials
          value: "true"
        - name: ClusterEnvironment__OperationalDatabase__ConnectionSettings__DatabaseSchema
          value: {{ .Values.databases.operational.databaseSchema | quote }}
        {{- if .Values.databases.operational.encrypt }}
        - name: ClusterEnvironment__OperationalDatabase__ConnectionSettings__SQLServerSettings__Encrypt
          value: "true"
        {{- end }}
        - name: ClusterEnvironment__OperationalDatabase__ConnectionSettings__SQLServerSettings__TrustServerCertificate
          value: "true"
        {{- if .Values.cloudIdentity.enabled }}
        {{- if eq .Values.cloudIdentity.provider "Azure" }}
        {{- if eq .Values.cloudIdentity.azureSettings.credentialsType "workloadIdentity" }}
        - name: CloudIdentity__Azure__CredentialType
          value: "AzureIdentity"
        - name: CloudIdentity__Azure__UseADTokenForDatabaseConnection
          value: {{ .Values.cloudIdentity.azureSettings.UseADTokenForDatabaseConnection | quote }}
        {{- end }}
        {{- end }}
        {{- end }}
        {{- if .Values.cloudIdentity.secretsManagement.enabled }}
        {{- if eq .Values.cloudIdentity.provider "Azure" }}
        - name: KeyVault__Provider
          value: "Azure"
        - name: KeyVault__UseForAppSettings
          value: {{ .Values.cloudIdentity.secretsManagement.UseForAppSettings | quote }}
        - name: KeyVault__UseForConfigPasswords
          value: {{ .Values.cloudIdentity.secretsManagement.UseForConfigPasswords | quote }}
        - name: KeyVault__AzureSettings__VaultURI
          value: {{ .Values.cloudIdentity.azureSettings.vaultUri | quote }}
        - name: KeyVault__AzureSettings__AppSettingsVaultURI
          value: {{ .Values.cloudIdentity.azureSettings.appSettingsVaultUri | quote }}
        - name: KeyVault__AzureSettings__ConfigurationReloadIntervalSeconds
          value: {{ .Values.cloudIdentity.secretsManagement.ConfigurationReloadIntervalSeconds | quote }}
        {{- end }}
        {{- end }}
        {{- if eq .Values.global.deployment.platform "google" }}
        {{- if eq .Values.cloudIdentity.googleSettings.credentialsType "serviceAccount" }}
        - name: GOOGLE_APPLICATION_CREDENTIALS 
          value: "{{ .Values.cloudIdentity.googleSettings.ConfigMapFilePath }}/{{ .Values.cloudIdentity.googleSettings.keyName }}"
        {{- end }}
        {{- end }}
        {{- if .Values.cloudIdentity.secretsManagement.enabled }}
        {{- if eq .Values.cloudIdentity.provider "Google" }}
        - name: KeyVault__Provider
          value: "Google"
        - name: KeyVault__UseForAppSettings
          value: {{ .Values.cloudIdentity.secretsManagement.UseForAppSettings | quote }}
        - name: KeyVault__UseForConfigPasswords
          value: {{ .Values.cloudIdentity.secretsManagement.UseForConfigPasswords | quote }}
        {{- end }}
        {{- end }}
        {{- if .Values.cloudIdentity.enabled }}
        {{- if eq .Values.cloudIdentity.provider "Amazon" }}
        {{- if eq .Values.cloudIdentity.secretsManagement.secretsProvider "keyvault" }}
        - name: CloudIdentity__Amazon__AccessKeyId
          value: {{ .Values.cloudIdentity.amazonSettings.accessKeyId | quote }}
        - name: CloudIdentity__Amazon__SecretAccessKey
          value: {{ .Values.cloudIdentity.amazonSettings.secretAccessKey | quote }}
        {{- end }}
        {{- end }}
        {{- end }}
        {{- if .Values.cloudIdentity.secretsManagement.enabled }}
        {{- if eq .Values.cloudIdentity.provider "Amazon" }}
        - name: KeyVault__Provider
          value: "Amazon"
        - name: KeyVault__UseForAppSettings
          value: {{ .Values.cloudIdentity.secretsManagement.UseForAppSettings | quote }}
        - name: KeyVault__UseForConfigPasswords
          value: {{ .Values.cloudIdentity.secretsManagement.UseForConfigPasswords | quote }}
        {{- end }}
        {{- end }}
        {{- if eq .Values.databases.operational.provider "sqlserver" }}
        {{- if eq .Values.global.deployment.platform "amazon" }}
        - name: ClusterEnvironment__OperationalDatabase__DatabaseType
          value: "AmazonRDSSQL"
        {{- end }}
        {{- end }}
        {{- if eq .Values.databases.operational.provider "sqlserver" }}
        {{- if eq .Values.global.deployment.platform "azure" }}
        - name: ClusterEnvironment__OperationalDatabase__DatabaseType
          value: "AzureSQLDatabase"
        {{- end }}
        {{- end }}
        {{- if eq .Values.databases.operational.provider "sqlserver" }}
        {{- if eq .Values.global.deployment.platform "google" }}
        - name: ClusterEnvironment__OperationalDatabase__DatabaseType
          value: "GoogleCloudSQL"
        {{- end }}
        {{- end }}
        {{- if eq .Values.databases.operational.provider "postgresql" }}
        - name: ClusterEnvironment__OperationalDatabase__DatabaseType
          value: "PostgreSQL"
        - name: ClusterEnvironment__OperationalDatabase__ConnectionSettings__Port
          value: "5432"
        {{- end }}
        {{- if eq .Values.databases.operational.provider "sqlserveronvm" }}
        - name: ClusterEnvironment__OperationalDatabase__DatabaseType
          value: "SQLServer"
        {{- end }}
        - name: ClusterEnvironment__OperationalDatabase__ConnectionSettings__Username
          value: {{ .Values.databases.operational.server_username | quote }}
        {{- if eq .Values.cloudIdentity.secretsManagement.secretsProvider "kubernetes" }}
        - name: ClusterEnvironment__OperationalDatabase__ConnectionSettings__Password
          valueFrom:
            secretKeyRef:
              name: {{ .Values.cloudIdentity.secretsManagement.secretName | quote }}
              key: Operations_Database_Server_Password
        {{- end }}
        ports:
        - containerPort: 8080
          name: web-port
          protocol: TCP
        {{- if .Values.deploymentapi.resources.enabled }}
        resources:
          {{- if and .Values.deploymentapi.resources.limits (ne .Values.deploymentapi.resources.limits.enabled false) }}
          limits:
            {{- with .Values.deploymentapi.resources.limits.cpu }}
            cpu: {{ . }}
            {{- end }}
            {{- with .Values.deploymentapi.resources.limits.memory }}
            memory: {{ . }}
            {{- end }}
          {{- end }}
          {{- if and .Values.deploymentapi.resources.requests (ne .Values.deploymentapi.resources.requests.enabled false) }}
          requests:
            {{- with .Values.deploymentapi.resources.requests.cpu }}
            cpu: {{ . }}
            {{- end }}
            {{- with .Values.deploymentapi.resources.requests.memory }}
            memory: {{ . }}
            {{- end }}
        {{- end }}
        {{- end }}
        volumeMounts:
          - name: tempstore
            mountPath: /tmp
          {{- if .Values.deploymentapi.templateTenant.useTemplateFiles }}
          - name: templatetenantfiles
            mountPath: {{ .Values.deploymentapi.templateTenant.templateTenantFilesPath | quote }}
          {{- end }}
      volumes:
        - name: tempstore
          emptyDir: {}
        {{- if .Values.deploymentapi.templateTenant.useTemplateFiles }}
        - name: templatetenantfiles
          persistentVolumeClaim:
            claimName: {{ .Values.deploymentapi.templateTenant.volumeClaimName | quote }}
        {{- end }}
      {{- if .Values.nodeSelector.enabled }}
      nodeSelector:
        {{ .Values.nodeSelector.key }}: {{ .Values.nodeSelector.value }}
      {{- end }}
      {{- if .Values.tolerations.enabled }}
      tolerations:
        - effect: NoSchedule
          key: {{ .Values.nodeSelector.key }}
          operator: Equal
          value: {{ .Values.nodeSelector.value }}
      {{- end }}
{{- end }}







